swagger: "2.0"
info:
  title: Pro Api Analytics service
  version: 0.1.0
  contact:
    name: Blockscout
    url: https://blockscout.com
    email: support@blockscout.com
tags:
  - name: ProApiAnalyticsService
  - name: Health
host: pro-api-analytics.services.blockscout.com
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /api/v1/{address}/top-dapps:
    get:
      operationId: ProApiAnalyticsService_GetTopUserDapps
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetTopUserDappsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: address
          in: path
          required: true
          type: string
        - name: interval
          in: query
          required: false
          type: string
      tags:
        - ProApiAnalyticsService
  /api/v1/{address}/top-neighbours:
    get:
      operationId: ProApiAnalyticsService_GetTopUserNeighbours
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetTopUserNeighboursResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: address
          in: path
          required: true
          type: string
        - name: interval
          in: query
          required: false
          type: string
      tags:
        - ProApiAnalyticsService
  /health:
    get:
      summary: |-
        If the requested service is unknown, the call will fail with status
        NOT_FOUND.
      operationId: Health_Check
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1HealthCheckResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: service
          in: query
          required: false
          type: string
      tags:
        - Health
definitions:
  HealthCheckResponseServingStatus:
    type: string
    enum:
      - UNKNOWN
      - SERVING
      - NOT_SERVING
      - SERVICE_UNKNOWN
    default: UNKNOWN
    description: ' - SERVICE_UNKNOWN: Used only by the Watch method.'
  protobufAny:
    type: object
    properties:
      '@type':
        type: string
    additionalProperties: {}
  protobufNullValue:
    type: string
    enum:
      - NULL_VALUE
    default: NULL_VALUE
    description: |-
      `NullValue` is a singleton enumeration to represent the null value for the
      `Value` type union.

      The JSON representation for `NullValue` is JSON `null`.

       - NULL_VALUE: Null value.
  rpcStatus:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      details:
        type: array
        items:
          type: object
          $ref: '#/definitions/protobufAny'
  v1GetTopUserDappsResponse:
    type: object
    properties:
      items:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1UserDappStats'
  v1GetTopUserNeighboursResponse:
    type: object
    properties:
      items:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1UserNeighbourStats'
  v1HealthCheckResponse:
    type: object
    properties:
      status:
        $ref: '#/definitions/HealthCheckResponseServingStatus'
  v1UserDappStats:
    type: object
    properties:
      dapp_id:
        type: string
      transactions_count:
        type: string
      gas_used:
        type: string
  v1UserNeighbourStats:
    type: object
    properties:
      address:
        type: string
      transactions_count:
        type: string
      metadata:
        type: object
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    name: x-api-key
    in: header
externalDocs:
  description: More about blockscout microservices
  url: https://github.com/blockscout/blockscout-rs
