swagger: "2.0"
info:
  title: Pro Api Analytics service
  version: 0.1.0
  contact:
    name: Blockscout
    url: https://blockscout.com
    email: support@blockscout.com
tags:
  - name: ProApiAnalyticsService
  - name: Health
host: pro-api-analytics.services.blockscout.com
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /api/v1/pro_api_analytics:analytics:
    post:
      operationId: ProApiAnalyticsService_ProApiAnalytics
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ProApiAnalyticsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1ProApiAnalyticsRequest'
      tags:
        - ProApiAnalyticsService
  /health:
    get:
      summary: |-
        If the requested service is unknown, the call will fail with status
        NOT_FOUND.
      operationId: Health_Check
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1HealthCheckResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: service
          in: query
          required: false
          type: string
      tags:
        - Health
definitions:
  HealthCheckResponseServingStatus:
    type: string
    enum:
      - UNKNOWN
      - SERVING
      - NOT_SERVING
      - SERVICE_UNKNOWN
    default: UNKNOWN
    description: ' - SERVICE_UNKNOWN: Used only by the Watch method.'
  protobufAny:
    type: object
    properties:
      '@type':
        type: string
    additionalProperties: {}
  rpcStatus:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      details:
        type: array
        items:
          type: object
          $ref: '#/definitions/protobufAny'
  v1HealthCheckResponse:
    type: object
    properties:
      status:
        $ref: '#/definitions/HealthCheckResponseServingStatus'
  v1ProApiAnalyticsRequest:
    type: object
    properties:
      foo:
        type: string
  v1ProApiAnalyticsResponse:
    type: object
    properties:
      foo:
        type: string
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    name: x-api-key
    in: header
externalDocs:
  description: More about blockscout microservices
  url: https://github.com/blockscout/blockscout-rs
