swagger: "2.0"
info:
  title: Autoscout service
  version: 0.1.1
  contact:
    name: Blockscout
    url: https://blockscout.com
    email: support@blockscout.com
tags:
  - name: Instances
  - name: Deployments
  - name: Users
  - name: Autoscout
  - name: Health
host: autoscout.services.blockscout.com
consumes:
  - application/json
produces:
  - application/json
paths:
  /api/v1/coinbase/deposits:
    get:
      operationId: Autoscout_ListCoinbaseDeposits
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListCoinbaseDepositsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
        - Coinbase
      security:
        - ApiKeyAuth: []
    post:
      operationId: Autoscout_CreateCoinbaseDeposit
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CreateCoinbaseDepositResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1CreateCoinbaseDepositRequest'
      tags:
        - Coinbase
      security:
        - ApiKeyAuth: []
  /api/v1/coinbase/deposits/{deposit_id}:
    get:
      operationId: Autoscout_GetCoinbaseDeposit
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1Deposit'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: deposit_id
          in: path
          required: true
          type: string
      tags:
        - Coinbase
      security:
        - ApiKeyAuth: []
    delete:
      operationId: Autoscout_DeleteCoinbaseDeposit
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1DeleteCoinbaseDepositResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: deposit_id
          in: path
          required: true
          type: string
      tags:
        - Coinbase
      security:
        - ApiKeyAuth: []
  /api/v1/deployments/{deployment_id}:
    get:
      summary: Get detailed information about specific deployment
      operationId: Autoscout_GetDeployment
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1Deployment'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: deployment_id
          in: path
          required: true
          type: string
      tags:
        - Deployments
      security:
        - ApiKeyAuth: []
  /api/v1/instances:
    get:
      summary: Get list of all owned instances
      operationId: Autoscout_ListInstances
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListInstancesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
        - Instances
      security:
        - ApiKeyAuth: []
    post:
      summary: Creating blockscout instance with config
      operationId: Autoscout_CreateInstance
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CreateInstanceResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1CreateInstanceRequest'
      tags:
        - Instances
      security:
        - ApiKeyAuth: []
  /api/v1/instances/{instance_id}:
    get:
      summary: Get detailed information of the instance
      operationId: Autoscout_GetInstance
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1Instance'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: instance_id
          in: path
          required: true
          type: string
      tags:
        - Instances
      security:
        - ApiKeyAuth: []
    delete:
      summary: Delete instance
      operationId: Autoscout_DeleteInstance
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1DeleteInstanceResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: instance_id
          in: path
          required: true
          type: string
      tags:
        - Instances
      security:
        - ApiKeyAuth: []
  /api/v1/instances/{instance_id}/config:
    put:
      summary: Update configuration of blockscout instance
      operationId: Autoscout_UpdateConfig
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateConfigResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: instance_id
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AutoscoutUpdateConfigBody'
      tags:
        - Instances
      security:
        - ApiKeyAuth: []
    patch:
      summary: Update configuration of blockscout instance (partially)
      operationId: Autoscout_UpdateConfigPartial
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateConfigResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: instance_id
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AutoscoutUpdateConfigPartialBody'
      tags:
        - Instances
      security:
        - ApiKeyAuth: []
  /api/v1/instances/{instance_id}/deployments:
    get:
      summary: Get list of deployments of the instance
      operationId: Autoscout_ListDeployments
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListDeploymentsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: instance_id
          in: path
          required: true
          type: string
      tags:
        - Deployments
      security:
        - ApiKeyAuth: []
  /api/v1/instances/{instance_id}/deployments/current:
    get:
      summary: Get detailed information about current deployment of the instance
      operationId: Autoscout_GetCurrentDeployment
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1Deployment'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: instance_id
          in: path
          required: true
          type: string
      tags:
        - Deployments
      security:
        - ApiKeyAuth: []
  /api/v1/instances/{instance_id}/status:update:
    post:
      summary: Start or finish the instance
      operationId: Autoscout_UpdateInstanceStatus
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateInstanceStatusResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: instance_id
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AutoscoutUpdateInstanceStatusBody'
      tags:
        - Instances
      security:
        - ApiKeyAuth: []
  /api/v1/schemas/config:
    get:
      operationId: Autoscout_GetConfigSchema
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ConfigSchema'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
        - Instances
      security:
        - ApiKeyAuth: []
  /api/v1/users/auth-tokens:
    get:
      summary: Get list of all auth tokens for current account
      operationId: Autoscout_ListAuthTokens
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListAuthTokensResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
        - Users
      security:
        - ApiKeyAuth: []
    post:
      summary: Generate auth api token for current account
      operationId: Autoscout_CreateAuthToken
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1AuthToken'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1CreateAuthTokenRequest'
      tags:
        - Users
      security:
        - ApiKeyAuth: []
  /api/v1/users/profile:
    get:
      summary: Get information about current account
      operationId: Autoscout_GetProfile
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UserProfile'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
        - Users
      security:
        - ApiKeyAuth: []
  /api/v1/users/profile:register:
    post:
      summary: Register new profile
      operationId: Autoscout_RegisterProfile
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1RegisterProfileResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1RegisterProfileRequest'
      tags:
        - Users
  /health:
    get:
      summary: |-
        If the requested service is unknown, the call will fail with status
        NOT_FOUND.
      operationId: Health_Check
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1HealthCheckResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: service
          in: query
          required: false
          type: string
      tags:
        - Health
definitions:
  AutoscoutUpdateConfigBody:
    type: object
    properties:
      config:
        $ref: '#/definitions/v1DeployConfig'
    required:
      - config
  AutoscoutUpdateConfigPartialBody:
    type: object
    properties:
      config:
        type: object
        title: See `DeployConfig` for available fields
    required:
      - config
  AutoscoutUpdateInstanceStatusBody:
    type: object
    properties:
      action:
        $ref: '#/definitions/v1UpdateInstanceAction'
    required:
      - action
  HealthCheckResponseServingStatus:
    type: string
    enum:
      - UNKNOWN
      - SERVING
      - NOT_SERVING
      - SERVICE_UNKNOWN
    default: UNKNOWN
    description: ' - SERVICE_UNKNOWN: Used only by the Watch method.'
  protobufAny:
    type: object
    properties:
      '@type':
        type: string
    additionalProperties: {}
  protobufNullValue:
    type: string
    enum:
      - NULL_VALUE
    default: NULL_VALUE
    description: |-
      `NullValue` is a singleton enumeration to represent the null value for the
      `Value` type union.

      The JSON representation for `NullValue` is JSON `null`.

       - NULL_VALUE: Null value.
  rpcStatus:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      details:
        type: array
        items:
          type: object
          $ref: '#/definitions/protobufAny'
  v1ArbitrumConfig:
    type: object
    properties:
      arbsys_contract:
        type: string
      node_interface_contract:
        type: string
      l1_rpc_url:
        type: string
      l1_rpc_chunk_size:
        type: string
        format: int64
      l1_rpc_historical_blocks_range:
        type: string
        format: int64
      l1_rollup_contract:
        type: string
      l1_rollup_init_block:
        type: string
        format: int64
      l1_common_start_block:
        type: string
        format: int64
      l1_finalization_threshold:
        type: string
        format: int64
      rollup_chunk_size:
        type: string
        format: int64
      bridge_messages_tracking_enabled:
        type: boolean
      missed_messages_recheck_interval:
        type: string
        format: int64
      missed_messages_blocks_depth:
        type: string
        format: int64
      tracking_messages_on_l1_recheck_interval:
        type: string
        format: int64
      batches_tracking_enabled:
        type: boolean
      batches_tracking_recheck_interval:
        type: string
        format: int64
      batches_tracking_l1_finalization_check_enabled:
        type: boolean
      batches_tracking_messages_to_blocks_shift:
        type: string
        format: int64
      missing_batches_range:
        type: string
        format: int64
      confirmations_tracking_finalized:
        type: boolean
      new_batches_limit:
        type: string
        format: int64
      l1_blockscout_url:
        type: string
        title: NEXT_PUBLIC_ROLLUP_L1_BASE_URL
    title: https://github.com/blockscout/docs/blob/594e4c2ef83556b3cb41e9fd43bca776afb63c05/for-developers/information-and-settings/env-variables/backend-envs-chain-specific.md?plain=1#L136
    required:
      - l1_blockscout_url
  v1AuthToken:
    type: object
    properties:
      name:
        type: string
      token_value:
        type: string
      created_at:
        type: string
    required:
      - name
      - token_value
      - created_at
  v1ChainType:
    type: string
    enum:
      - UNSPECIFIED_CHAIN_TYPE
      - ARBITRUM
      - OPTIMISM
    default: UNSPECIFIED_CHAIN_TYPE
  v1ColorTheme:
    type: string
    enum:
      - UNSPECIFIED_COLOR_THEME
      - LIGHT
      - DIM
      - MIDNIGHT
      - DARK
    default: UNSPECIFIED_COLOR_THEME
  v1ConfigPropertiesSchema:
    type: object
    properties:
      server_size:
        $ref: '#/definitions/v1ServerSizeSchema'
  v1ConfigSchema:
    type: object
    properties:
      type:
        type: string
      properties:
        $ref: '#/definitions/v1ConfigPropertiesSchema'
  v1CreateAuthTokenRequest:
    type: object
    properties:
      name:
        type: string
    required:
      - name
  v1CreateCoinbaseDepositRequest:
    type: object
  v1CreateCoinbaseDepositResponse:
    type: object
    properties:
      id:
        type: string
      url:
        type: string
    required:
      - id
      - url
  v1CreateInstanceRequest:
    type: object
    properties:
      name:
        type: string
      config:
        $ref: '#/definitions/v1DeployConfig'
        title: initial config
    required:
      - name
      - config
  v1CreateInstanceResponse:
    type: object
    properties:
      instance_id:
        type: string
    required:
      - instance_id
  v1DeleteCoinbaseDepositResponse:
    type: object
  v1DeleteInstanceResponse:
    type: object
  v1DeployConfig:
    type: object
    properties:
      rpc_url:
        type: string
      server_size:
        type: string
      chain_type:
        $ref: '#/definitions/v1ChainType'
      node_type:
        $ref: '#/definitions/v1NodeType'
      chain_id:
        type: string
      token_symbol:
        type: string
      custom_domain:
        type: string
      logo_url:
        type: string
      logo_url_dark:
        type: string
      chain_name:
        type: string
      icon_url:
        type: string
      icon_url_dark:
        type: string
      homeplate_background:
        type: string
      homeplate_text_color:
        type: string
      is_testnet:
        type: boolean
      stats_enabled:
        type: boolean
      rpc_ws_url:
        type: string
      public_rpc_url:
        type: string
      wallet_connect_project_id:
        type: string
      eip_1559_elasticity:
        type: integer
        format: int32
      navigation_layout:
        $ref: '#/definitions/v1NavigationLayout'
      favicon_url:
        type: string
      og_image_url:
        type: string
      color_theme:
        $ref: '#/definitions/v1ColorTheme'
      identicon:
        $ref: '#/definitions/v1Identicon'
      chain_spec:
        type: string
      footer:
        $ref: '#/definitions/v1Footer'
        title: https://github.com/blockscout/frontend/blob/e2081d49104c9626aff9cfbf864699f69db5b8d8/docs/ENVS.md#footer
      optimism:
        $ref: '#/definitions/v1OptimismConfig'
      arbitrum:
        $ref: '#/definitions/v1ArbitrumConfig'
    required:
      - rpc_url
      - server_size
  v1Deployment:
    type: object
    properties:
      deployment_id:
        type: string
      instance_id:
        type: string
      status:
        $ref: '#/definitions/v1DeploymentStatus'
      error:
        type: string
      created_at:
        type: string
      started_at:
        type: string
      finished_at:
        type: string
      config:
        $ref: '#/definitions/v1DeployConfig'
      config_state_hash:
        type: string
      blockscout_url:
        type: string
      total_cost:
        type: string
      health_status:
        $ref: '#/definitions/v1HealthStatus'
      indexing_status:
        $ref: '#/definitions/v1IndexingStatus'
    required:
      - deployment_id
      - instance_id
      - status
      - created_at
      - config
      - config_state_hash
      - total_cost
      - health_status
  v1DeploymentStatus:
    type: string
    enum:
      - NO_STATUS
      - CREATED
      - PENDING
      - RUNNING
      - STOPPING
      - STOPPED
      - FAILED
    default: NO_STATUS
  v1Deposit:
    type: object
    properties:
      id:
        type: string
      url:
        type: string
      created_at:
        type: string
      amount:
        type: string
      status:
        $ref: '#/definitions/v1DepositStatus'
    required:
      - id
      - url
      - created_at
      - status
  v1DepositStatus:
    type: string
    enum:
      - UNSPECIFIED_DEPOSIT_STATUS
      - DEPOSIT_STATUS_CREATED
      - DEPOSIT_STATUS_PENDING
      - DEPOSIT_STATUS_DELAYED
      - DEPOSIT_STATUS_CONFIRMED
      - DEPOSIT_STATUS_FAILED
      - DEPOSIT_STATUS_RESOLVED
    default: UNSPECIFIED_DEPOSIT_STATUS
  v1Footer:
    type: object
    properties:
      columns:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1FooterColumn'
  v1FooterColumn:
    type: object
    properties:
      title:
        type: string
      links:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1FooterLink'
  v1FooterLink:
    type: object
    properties:
      text:
        type: string
      url:
        type: string
  v1HealthCheckResponse:
    type: object
    properties:
      status:
        $ref: '#/definitions/HealthCheckResponseServingStatus'
  v1HealthStatus:
    type: object
    properties:
      ok:
        type: boolean
      last_check:
        type: string
      http_code:
        type: integer
        format: int32
      error_description:
        type: string
      response:
        type: object
    required:
      - ok
      - last_check
  v1Identicon:
    type: string
    enum:
      - UNSPECIFIED_IDENTICON
      - GITHUB
      - JAZZICON
      - GRADIENT_AVATAR
      - BLOCKIE
    default: UNSPECIFIED_IDENTICON
  v1IndexingStatus:
    type: object
    properties:
      finished_indexing:
        type: boolean
      finished_indexing_blocks:
        type: boolean
      indexed_blocks_ratio:
        type: string
      indexed_internal_transactions_ratio:
        type: string
    required:
      - finished_indexing
      - finished_indexing_blocks
  v1Instance:
    type: object
    properties:
      instance_id:
        type: string
      name:
        type: string
      slug:
        type: string
      created_at:
        type: string
      config:
        $ref: '#/definitions/v1DeployConfig'
      config_state_hash:
        type: string
      deployment:
        $ref: '#/definitions/v1Deployment'
    required:
      - instance_id
      - name
      - slug
      - created_at
      - config
      - config_state_hash
      - deployment
  v1ListAuthTokensResponse:
    type: object
    properties:
      items:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1AuthToken'
    required:
      - items
  v1ListCoinbaseDepositsResponse:
    type: object
    properties:
      items:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1Deposit'
    required:
      - items
  v1ListDeploymentsResponse:
    type: object
    properties:
      items:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1Deployment'
    required:
      - items
  v1ListInstancesResponse:
    type: object
    properties:
      items:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1Instance'
    required:
      - items
  v1NavigationLayout:
    type: string
    enum:
      - UNSPECIFIED_NAVIGATION_LAYOUT
      - HORIZONTAL
      - VERTICAL
    default: UNSPECIFIED_NAVIGATION_LAYOUT
  v1NodeType:
    type: string
    enum:
      - UNSPECIFIED_NODE_TYPE
      - PARITY
      - ERIGON
      - GETH
      - BESU
      - GANACHE
    default: UNSPECIFIED_NODE_TYPE
  v1OptimismConfig:
    type: object
    properties:
      l1_rpc_url:
        type: string
        title: changes blockscout env INDEXER_OPTIMISM_L1_RPC
      l1_system_config_contract:
        type: string
        title: changes blockscout env INDEXER_OPTIMISM_L1_SYSTEM_CONFIG_CONTRACT
      l1_batch_blockscout_blobs_api_url:
        type: string
        title: changes blockscout env INDEXER_OPTIMISM_L1_BATCH_BLOCKSCOUT_BLOBS_API_URL
      l1_batch_celestia_blobs_api_url:
        type: string
        title: changes blockscout env INDEXER_OPTIMISM_L1_BATCH_CELESTIA_BLOBS_API_URL
      l1_batch_blocks_chunk_size:
        type: string
        format: int64
        title: changes blockscout env INDEXER_OPTIMISM_L1_BATCH_BLOCKS_CHUNK_SIZE
      l2_batch_genesis_block_number:
        type: string
        format: int64
        title: changes blockscout env INDEXER_OPTIMISM_L2_BATCH_GENESIS_BLOCK_NUMBER
      l1_output_oracle_contract:
        type: string
        title: changes blockscout env INDEXER_OPTIMISM_L1_OUTPUT_ORACLE_CONTRACT
      l1_deposits_batch_size:
        type: string
        format: int64
        title: changes blockscout env INDEXER_OPTIMISM_L1_DEPOSITS_BATCH_SIZE
      l2_withdrawals_start_block:
        type: string
        format: int64
        title: changes blockscout env INDEXER_OPTIMISM_L2_WITHDRAWALS_START_BLOCK
      l2_message_passer_contract:
        type: string
        title: changes blockscout env INDEXER_OPTIMISM_L2_MESSAGE_PASSER_CONTRACT
      l1_blockscout_url:
        type: string
        title: NEXT_PUBLIC_ROLLUP_L1_BASE_URL
      l2_withdrawal_url:
        type: string
        title: NEXT_PUBLIC_ROLLUP_L2_WITHDRAWAL_URL
      l2_fault_proof_enabled:
        type: boolean
        title: NEXT_PUBLIC_FAULT_PROOF_ENABLED
      has_mud_framework:
        type: boolean
        title: NEXT_PUBLIC_HAS_MUD_FRAMEWORK
    title: https://github.com/blockscout/docs/blob/df6996a0f8e553c2d4b1c3dcda6ef2518a8b39f9/for-developers/information-and-settings/env-variables/backend-envs-chain-specific.md?plain=1#L102-L119
    required:
      - l1_blockscout_url
  v1RegisterProfileRequest:
    type: object
    properties:
      email:
        type: string
      project_title:
        type: string
      promo:
        type: string
    required:
      - email
      - project_title
  v1RegisterProfileResponse:
    type: object
    properties:
      profile:
        $ref: '#/definitions/v1UserProfile'
      initial_token:
        $ref: '#/definitions/v1AuthToken'
  v1ServerSizeSchema:
    type: object
    properties:
      type:
        type: string
      enum:
        type: array
        items:
          type: string
      description:
        type: string
      details:
        type: object
        additionalProperties:
          $ref: '#/definitions/v1ServerSizeSchemaDetails'
  v1ServerSizeSchemaDetails:
    type: object
    properties:
      cost_per_hour:
        type: string
      cpu:
        type: string
      memory:
        type: string
  v1UpdateConfigResponse:
    type: object
    properties:
      config:
        $ref: '#/definitions/v1DeployConfig'
    required:
      - config
  v1UpdateInstanceAction:
    type: string
    enum:
      - START
      - STOP
      - RESTART
    default: START
  v1UpdateInstanceStatusResponse:
    type: object
    properties:
      status:
        $ref: '#/definitions/v1DeploymentStatus'
      deployment_id:
        type: string
    required:
      - status
      - deployment_id
  v1UserAction:
    type: object
    properties:
      action:
        type: string
      instance_id:
        type: string
      timestamp:
        type: string
    required:
      - action
      - timestamp
  v1UserProfile:
    type: object
    properties:
      email:
        type: string
      project_title:
        type: string
      created_at:
        type: string
      balance:
        type: string
      recent_actions:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1UserAction'
    required:
      - email
      - created_at
      - balance
      - recent_actions
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    name: x-api-key
    in: header
externalDocs:
  description: More about blockscout microservices
  url: https://github.com/blockscout/blockscout-rs
